*{
    font-family: 'Merriweather',sans-serif;
}
#logo{
    height: 100px;
    width:100px;
    font-family: 'Merriweather',sans-serif;
}
#name{
    font-family: 'Sacramento',sans-serif;
}
#name1{
    font-family: 'Sacramento',sans-serif;
}
#SideProfile{
    background-color: #A0D995;
}
